@charset "UTF-8";
/* clear styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  color: #000!important;
}
::-webkit-scrollbar {
  width: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:active, a:focus {
  outline: none!important;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: noneimportant;
}
.row > * {
  padding: 0 0;
}

.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.col-full {max-width: 100%!important; padding: 0!important;}
.woocommerce-products-header,
ul.products.columns-4,
ul.products.columns-5,
ul.products.columns-3,
ul.products.columns-6,
#page .storefront-breadcrumb,
.product.type-product,
.classic-page
 {
	padding: 0 40px!important;
}

/*clear styles finish*/
ul.woocommerce-error {
    display: none;
}
.g-hidden {display: none;}
div#primary {
    margin-bottom: 0!important;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px;
  }
}

.index__title {
  font-size: 36px;
  color: #005447;
  margin: 30px 0 30px 0;
}

.display-none {
  display: none;
}

.header {
  max-width: 1920px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header.header_fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fffc;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__logo {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.header .header__logo a {
  display:  block;
  width:  100%;
}
.header .header__logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height:  100%;
  padding: 0 20px 0 0;
}

.header .header__nav {
  width: 50%;
  background-color: #32574F;
  padding: 10px 20px;
}

.header .header__nav nav ul {
	margin: 0 0;
}

.header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header .header__nav ul li {
	list-style-type: none;
	position: relative;
  margin: 0 30px 0 0;
}

.header .header__nav ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header .header__nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
  left: 0;
  background-color: #f49400;
}

.header .header__nav ul li a:hover:before {
  content: '';
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__phone .site-search {
	margin: 0 0;
	display: flex;
	align-items: center;
  width: 100%;
}
.site-search .widget.woocommerce.widget_product_search {
	margin: 0 10px 0 0;
  width: 100%;
}
.site-search .widget.woocommerce.widget_product_search .search-field {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: #fff;
}
.site-search .widget.woocommerce.widget_product_search .search-field::placeholder {
  color: #fff;
  font-size: 14px;
}
.header__phone .site-search .widget_product_search form::before {
	top: 14px;
  color: #fff;
  position: absolute;
  right: 15px;
  left: initial;
}

.header .header__phone {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #32574F;
  padding: 5px 20px;
}

.header .header__phone a {
  font-size: 22px;
  color: #005447;
  font-weight: 600;
  display: none;
}

.footer {
  background-color: #3c3c3b;
  margin: 60px 0 0px 0;
  padding: 50px 0;
  color: #fff;
  position: relative;
  background-image: url(../../assets/img/other/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 600;
}
.footer::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -190px;
  top: -450px;
  background-image: url(../../assets/img/other/leaf_right1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
  width: 424px;
  z-index: -1;
  transform: scaleX(-1);
}
.footer::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: -1px;
  top: -430px;
  background-image: url(../../assets/img/other/leaf_left1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 450px;
  width: 424px;
  z-index: -1;
  transform: rotate(270deg)scaley(-1);
}

.footer a {
  color: #fff;
}

.footer .footer__column .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 20px 0;
  color: #fff;
}

.footer .footer__column .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__column .links a {
  margin: 0 0 10px 0;
}

.footer .footer__column.contacts > div:not(.title) {
  margin: 0 0 10px 0;
}

.index__slider .swiper-container {
  overflow: hidden;
  position: relative;
}


.index-page > section {
  z-index: 2;
  position: relative;
}

.index__slider .swiper-container .swiper-slide {
  width: 100% !important;
}

.index__slider .swiper-container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.index__slider .swiper-container .swiper-slide .link__more {
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.index__slider .swiper-container .swiper-pagination {
  background-color: #3838388f;
  padding: 10px 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: orange !important;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 13px;
  height: 13px;
  margin: 0 15px 0 0;
  opacity: 1;
}
.n2-ss-slider .n2-ss-slider-controls-below {
	display: none!important;
}

.index__adv {
  margin: 50px 0;
}

.index__adv .index__adv_text {
  padding: 0px 85px;
  font-size: 22px;
  text-align: justify;
}
.index__adv .index__adv_text br {display: none;}

.index__adv .index__adv_text .green {
  color: #334D47;    
  font-size: 30px;
  position: relative;
  top: 5px;
}

.index__adv .index__adv_text .orange {
  color: #D88747;    
  font-size: 30px;
  position: relative;
  top: 5px;
}


.index__adv .index__adv_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index__adv .index__adv_list .index__adv_item {
  display: flex;
  width: 47%;
  align-items: center;
  position: relative;
}
.index__adv .index__adv_list .index__adv_item:before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: -7px;
  right: 0;
  top: initial;
  box-shadow: 0px 5px 12px 0 #00000078;
  border-radius: 50%;
}
.index__adv .index__adv_list .index__adv_item:nth-child(-n+2) {
  margin: 0 0 60px 0;
}

.index__adv .index__adv_list .index__adv_item img {
  height: 65px;
  width: 85px;
  object-fit: contain;
}
.index__adv .index__adv_list .index__adv_item span {
  margin: 0 0 0 30px;
  font-size: 20px;
  line-height: 25px;
  color: #585652;
}

.index__category {
  margin: 90px 0;
}
.index__category .index__category_container {
  display: flex;
  justify-content: center;
}
.index__category .index__category_item {
  display: flex;
  align-items: center;
  margin: 0 60px 0 0;
  width: initial;
}
.index__category .index__category_item img {
  width: 110px;
  object-fit: contain;
  height: 90px;
}
.index__category .index__category_item .title {
  color: #585652;
  font-weight: 500;
  line-height: 25px;
  font-size: 26px;
  margin: 0 0 0 15px;
}



.index__slider_gallery {
  padding: 0 0px;
  position: relative;
  width: 100%;
}
.index__slider_gallery .item {
  padding: 0 15px;
}
article.leaf {
  width: 100%;
  position: relative;
}
article.leaf {
  position: relative;
  z-index: 1;
}
.index__slider_gallery:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -155px;
  bottom: -230px;
  background-image: url(../../assets/img/other/leaf_left1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 720px;
  width: 424px;
  z-index: -1;
  transform: rotate(337deg);
}
.index__slider_gallery:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 255px;
  right: -155px;
  background-image: url(../../assets/img/other/leaf_right1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 776px;
  width: 457px;
  z-index: -1;
}

section.category__blocks {
    position: relative;
}
.index__materials {
  margin: 70px 0;
}
.index_title {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 15px 0;
  display: block;
  text-align: center;
  text-transform: uppercase
}
.index__materials .index__materials_subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #585652;
}
.index__materials .index__materials-container {
  display: flex;
  align-items: flex-start;
  margin: 70px 0 0 0;
  justify-content: center;
}
.index__materials .item {
  color: #585652;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 0 0 ;
}
.index__materials .item:hover .img {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: #B1A358;
}
.index__materials .item .img {
  width: 160px;
  height: 160px;
  border: 1px dashed #B1A358;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.index__materials .item .img.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.index__materials .item .img.about:hover span {
  color: #fff;
  transition: 0.3s;
}
.index__materials .item .img.about span {
  margin: 0 0;
  transition: 0.3s;
}
.index__materials .item .img::after{
  content: '';
  background-image: url(../../assets/img/icons/index_arrow.svg);
  width: 20px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 44%;
}
.index__materials .item .img::before{
  content: '';
  background-image: url(../../assets/img/icons/index_shadow.svg);
  width: 100%;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -25px;
  left: 0;
  background-position: center;
}
.index__materials .item .img  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}
.index__materials .item span {
  margin: 40px 0 0 0;
  line-height: initial;
  font-size: 20px;
}
.index_works_adv .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin: 30px 0 0 0;
}
.index_works_adv .item img {
  height: 65px;
  width: 90px;
  object-fit: contain;
  position: relative;
}
.index_works_adv .item .item_img {
  padding: 25px 13px;
  border: 2px solid #8C9193;
  border-radius: 50%;
  position: relative;
}
.index_works_adv .item .item_img::before{
  content: '';
  background-image: url(../../assets/img/icons/index_shadow.svg);
  width: 100%;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -18px;
  left: 0;
  background-position: center;
}
.index_works_adv .item .title {
  font-weight: 600;
  font-size: 26px;
  margin: 20px 0 15px 0;
  text-align: center;
}
.index_works_adv .item .desc {
  font-size: 18px;
  line-height: initial;
}
.footer__adv  {
  margin: 40px 0 0 0;
  display: block;
  position: relative;
}
.footer__adv .row {
  display: flex;
  justify-content: center;
}
.footer__adv .item {
  display: flex;
  flex-direction: column;
  width: initial;
  align-items: center;
  text-align: center;
  line-height: initial;
}
.footer__adv .item:not(:last-child) {
  margin: 0 80px 0 0;
}
.footer__adv .item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.footer__adv .item .title {
  font-size: 22px;
  color: #585652;
  font-weight: 400;
  margin: 10px 0 0 0 ;
}
.footer_leaf {
  position: relative;
  width: 100%;
  display: inline-block;
}



.arcticmodal-container_i2 {
  background-color: transparent!important;
}
#callback-partners {margin: 0 auto; padding: 20px;}

#callback-partners p {font-size: 14px; margin: 0 0 10px ;}
#callback-partners label {display: flex; flex-direction: column;}
#callback-partners input,
#callback-partners textarea {
  border: 1px solid #333; 
  padding: 10px 0 10px 30px;
  width: 100%;
  background-color: #fff;
}
#callback-partners input:focus,
#callback-partners textarea:focus {
  border: 2px solid #000;
  outline: none;
} 
#callback-partners input[type=submit] {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
}
#callback-partners input[type=submit]:hover {
  background-color: #f39000;
  color: #fff;
  transform: scale(1.03);
  transition: 0.3s;
}
.wpcf7-response-output {
    margin: 0 0!important;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 10px!important;
}

/*category*/
.storefront-breadcrumb {
	margin: 10px 0 30px 0!important;
	padding: 0 0 0px 0!important;
}
li.product-category.product {
	box-shadow: 4px 4px 20px -5px #00000094;
}
li.product-category.product img {
	margin: 0 0!important;
}
li.product-category.product:hover {
	transition: 0.3s;
	transform: scale(1.03);
}
.woocommerce-loop-category__title {
    border: 1px solid #e7e7e7;
    width: 100%;
    text-align: center;
    margin: 0 0!important;
    padding: 20px 10px;
    font-size: 22px!important;
    color: #000;
    line-height: 1;
}
li.product-category.product:hover .woocommerce-loop-category__title {
  color: #fff;
  background-color: #4848489c;
}
.woocommerce-loop-category__title mark.count {
	font-size: 14px;
  display: none;
}
.site-main > .storefront-sorting:nth-child(2) {display: none!important;}
.product.type-product .price {display: none!important;}
.storefront-sorting .woocommerce-ordering {display: none!important;}
.storefront-sorting {display: flex; justify-content: center;}
.storefront-sorting .woocommerce-pagination {margin: 0 0 0 50px;}
.term-description {
    color: #000;
    font-size: 16px;
    margin: 0 0 40px 0;
}
#buyoneclick_form_order .form-message-result {
  font-size: 20px!important;
  color: #005447!important;
}
nav.storefront-product-pagination {
  display: none!important;
}
.woocommerce-product-gallery .product.type-product img {
  margin: 0 auto!important;
}
.product.type-product .woocommerce-loop-product__title {
  font-weight: 600!important;
  margin: 15px 0 15px 0!important;
}
.product.type-product .single_add_to_cart_button{
  padding: 6px 0;
  font-size: 16px;
  margin: 0px 0 0 0;
}
.product.type-product .product_type_simple {
  margin: 10px 0 0 0;
  width: 100%;
  background-color: #f49400;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
}
.product.type-product .product_type_simple:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}
li.product.type-product:hover {
  transition: 0.3s;
  transform: scale(1.03);
}
.category__product_attr {
    background-color: #e7e7e7;
}
ul.products li.product.product-category img {
  width: 100%!important;
}
ul.products  li.product.type-product {
    padding: 0 0!important;
}
#main ul.products li.product.type-product.status-publish {
  width: 16%!important;
  margin-right: 4%!important;
}
ul.products.columns-5 {
    display: flex;
    flex-wrap: wrap;
}
.catalog__width {
  width: 100%;
  font-size: 24px;
  color: #333;
  font-weight: 600;
}
#main ul.products li.product-category.product {
    width: 23%!important;
    margin: 0 2% 30px 0!important;
}
#main ul.products li.product-category.product a {
    display: flex;
    flex-wrap: wrap;
}
#main ul.products li.product-category.product img {
    height: 170px;
    object-fit: cover;
    width: 100%!important;
    overflow:  hidden;
}
li.product.type-product.status-publish.instock > a > img {
    height: 211px;
    object-fit: contain;
}
.pswp--open {
  z-index: 400;
}


/*Product page*/
.right-sidebar .content-area {
	width: 100%!important;
}
.woocommerce-product-details__short-description {
    color: #000;
}
.woocommerce-product-details__short-description li {
  list-style-type: none;
  position: relative;
}
.woocommerce-product-details__short-description li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #f49400;
  border-radius: 50%;
  position: absolute;
  top: 9px;
  left: -13px;
}
.card__desc {
    color: #000;
    font-size: 14px;
    max-width: 80%;
}
.card__desc_list li {
  list-style-type: none;
  position: relative;
}
.card__desc_list li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #f49400;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: -13px;
}
.card__desc .card__desc_adv {
	display: flex;
	justify-content: space-between;
}
.card__desc .card__desc_adv .item {
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
   text-align: center;
}
.card__desc .card__desc_adv.el4 .item {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
   text-align: center;
}
.card__desc .card__desc_adv .item .bg-img {
	width: 50px;height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.card__desc .card__desc_adv .item .title {
	color: #000;
}


.card__desc > .title {
	font-weight: 500;
	font-size: 22px;
}

.card__desc_add {}
.card__desc_add .item {
	display: flex;
	align-items: center;
	font-weight: 500;
}
.card__desc_add .item .bg-img {
	width: 60px;height: 50px;
  min-width: 60px;min-height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.card__desc .card__desc_add .item .bg-img.a{background-image: url(../../assets/img/icons-card/a.svg);}
.card__desc .card__desc_add .item .bg-img.b{background-image: url(../../assets/img/icons-card/b.svg);}
.card__desc .card__desc_add .item .bg-img.c{background-image: url(../../assets/img/icons-card/c.svg);}
.card__desc .card__desc_add .item .bg-img.c2{background-image: url(../../assets/img/icons-card/c2.svg);}
.card__desc .card__desc_add .item .bg-img.d{background-image: url(../../assets/img/icons-card/d.svg);}
.card__desc .card__desc_add .item .bg-img.d2{background-image: url(../../assets/img/icons-card/d2.svg);}
.card__desc .card__desc_add .item .bg-img.d3{background-image: url(../../assets/img/icons-card/d3.png);}
.card__desc .card__desc_add .item .bg-img.d4{background-image: url(../../assets/img/icons-card/d4.png);}
.card__desc .card__desc_add .item .bg-img.e{background-image: url(../../assets/img/icons-card/e.svg);}
.card__desc .card__desc_add .item .bg-img.e2{background-image: url(../../assets/img/icons-card/e2.svg);}
.card__desc .card__desc_add .item .bg-img.e3{background-image: url(../../assets/img/icons-card/e3.svg);}
.card__desc .card__desc_add .item .bg-img.e4{background-image: url(../../assets/img/icons-card/e4.svg);}
.card__desc .card__desc_add .item .bg-img.e5{background-image: url(../../assets/img/icons-card/e5.png);}
.card__desc .card__desc_add .item .bg-img.f{background-image: url(../../assets/img/icons-card/f.svg);}
.card__desc .card__desc_add .item .bg-img.g{background-image: url(../../assets/img/icons-card/g.svg);}
.card__desc .card__desc_add .item .bg-img.g2{background-image: url(../../assets/img/icons-card/g2.svg);}
.card__desc .card__desc_add .item .bg-img.g3{background-image: url(../../assets/img/icons-card/g3.svg);}
.card__desc .card__desc_add .item .bg-img.i{background-image: url(../../assets/img/icons-card/i.svg);}
.card__desc .card__desc_add .item .bg-img.j{background-image: url(../../assets/img/icons-card/j.svg);}
.card__desc .card__desc_add .item .bg-img.j2{background-image: url(../../assets/img/icons-card/j2.svg);}
.card__desc .card__desc_add .item .bg-img.k{background-image: url(../../assets/img/icons-card/k.png);}
.card__desc .card__desc_add .item .bg-img.hz{background-image: url(../../assets/img/icons-card/hz.svg);}
.card__desc .card__desc_add .item .bg-img.p1{background-image: url(../../assets/img/icons-card/p1.svg);}
.card__desc .card__desc_add .item .bg-img.p2{background-image: url(../../assets/img/icons-card/p2.svg);}
.card__desc .card__desc_add .item .bg-img.p3{background-image: url(../../assets/img/icons-card/p3.svg);}
.card__desc .card__desc_add .item .bg-img.p4{background-image: url(../../assets/img/icons-card/p4.svg);}
.card__desc .card__desc_add .item .bg-img.p5{background-image: url(../../assets/img/icons-card/p5.svg);}
.card__desc .card__desc_add .item .bg-img.p6{background-image: url(../../assets/img/icons-card/p6.svg);}
.card__desc .card__desc_add .item .bg-img.p7{background-image: url(../../assets/img/icons-card/p7.svg);}
.card__desc .card__desc_add .item .bg-img.p8{background-image: url(../../assets/img/icons-card/p8.svg);}
.card__desc .card__desc_add .item .bg-img.p9{background-image: url(../../assets/img/icons-card/p9.svg);}
.card__desc .card__desc_add .item .bg-img.p10{background-image: url(../../assets/img/icons-card/p10.svg);}
.card__desc .card__desc_add .item .bg-img.p11{background-image: url(../../assets/img/icons-card/p11.svg);}
.card__desc .card__desc_add .item .bg-img.p12{background-image: url(../../assets/img/icons-card/p12.svg);}



.card__desc_add .item .title {
	margin: 0 0 0 15px;
}
.woocommerce-product-attributes .woocommerce-product-attributes-item__label {
	background-color: transparent;
	border: 1px solid #f8f8f8;
	display: flex;
	align-items: center;
	color: #000;
}
.woocommerce-product-attributes-item .woocommerce-product-attributes-item__label:before {
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	width: 55px;
	height: 55px;
	background-position: center;
	display: inline-block;
	margin: 0 10px 0 0 ;
}
.shop_attributes tr[class*="attribute_pa_mozhno-skrutit-v-rulon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/4.svg);
}
.shop_attributes tr[class*="attribute_pa_nagruzka"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/pow-card.svg);
}
.shop_attributes tr[class*="attribute_pa_zhestkost-storon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/zhest-card.svg);
}
.shop_attributes tr[class*="attributes-item--attribute_pa_vysota"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/height-card.svg);
}
.shop_attributes tr[class*="attribute_pa_skruchen-v-rulon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/4.svg);
}
.shop_attributes tr[class*="attribute_pa_razmer"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/size.svg);
}
.shop_attributes tr[class*="attribute_pa_zhestkost"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/zhestkost.svg);
}
.shop_attributes tr[class*="attribute_pa_kreplenie"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/kreplenie.svg);
}
.shop_attributes tr[class*="attribute_pa_gipoallergennye-napolniteli"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/gipoallergennye.svg);
}
.single_add_to_cart_button {
	width: 100%;
	padding: 21px;
	font-size: 22px;
  background-color: #005447!important;
}
.single_add_to_cart_button:hover {
  width: 100%;
  padding: 21px;
  font-size: 22px;
  background-color: #333!important;
}
#formOrderOneClick .popup .close_order {
  right: 10px!important;
  z-index: 20;
}
#formOrderOneClick thead tr th:nth-child(2),
#formOrderOneClick td[data-label=Цена]{display: none!important;}
#formOrderOneClick td[data-label=Картина] img {margin: 0 auto;}
.woocommerce-product-gallery .flex-control-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
ol.flex-control-nav.flex-control-thumbs li {
    margin: 0 5% 15px 0!important;
    width: 15%!important;
}
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}
.woocommerce-product-gallery #tab-additional_information {
  font-size: 22px;
  color: #000;
  margin: 30px 0 0 0;
  order: 10;
  font-weight: 600;
}
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__label {
  padding: 5px 7px;
  font-size: 18px;
  font-weight: initial;
}
 #tab-additional_information .shop_attributes {
  margin: 15px 0 0 0;
 }
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__label:before {
  padding: 10px 15px;
  width: 40px;
  height: 40px;
}
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__value {
  font-size: 16px;
	width: 100%;
	display: flex;
	justify-content: center;
  background-color: #e3e3e3!important;
  border: 1px solid #f8f8f8;
}

.beds__desc {
  display: flex;
  margin: 0 0 30px 0;
}
.beds__desc .image {
  width: 45%;
  margin-right: 5%;
}
.beds__desc img {
  object-fit: contain;
  width: 100%;
}
.beds__desc .table {
  width: 50%;
  font-size: 14px;
  margin: 0 0;
}
.beds__desc .table th {
  background-color: #f49400;
  color: #fff;
  line-height: 1;
  text-align: center;
  padding: 10px 10px;
  font-size: 13px;	
}
.beds__desc .table td {
  padding: 10px 10px;
  text-align: center;
}
.woocommerce-product-gallery__wrapper > div > a img {
  width: 100%;
  object-fit: contain;
  max-height: 400px;
  overflow: hidden;
}
#tab-additional_information .shop_attributes tbody {
    display: flex;
    line-height: 1;
    text-align: center;
    flex-wrap: wrap;
}
#tab-additional_information tr.woocommerce-product-attributes-item {
    width: 33%;
    margin: 0 0 20px 0;
}
.product .entry-summary .single_add_to_cart_button{
  padding: 6px 0;
  font-size: 20px;
  margin: 30px 0 0 0;
}

/*Product page finish*/

section.related.products .product.type-product {
  width: 15%!important;
  margin: 0 30px 0 0!important;
  padding: 0 0!important;
}
.city_block {
    display: flex;
    flex-direction: column;
}
#scroll_dealers li {list-style-type: none;}
#scroll_partners {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 40px;
  background: #ededed;
  border-top: 1px solid #d1d0d0;
  margin-bottom: 0;
}
.our_dealers_n {
}
.our_dealers_n .block-title {
  text-align: center;
  margin-bottom: 30px;
}
.our_dealers_n .alphabet {
  margin-bottom: 35px;
  overflow: hidden;
  display: none;
}
.our_dealers_n .alphabet li {
  float: left;
  text-transform: uppercase;
}
.our_dealers_n .alphabet li.all {
  float: right;
}
.our_dealers_n .alphabet a {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  color: #000000;
  padding: 3px 7px 5px;
  display: block;
  margin: 0 2px;
  border-radius: 5px;
}
.our_dealers_n .alphabet li.active a,
.our_dealers_n .alphabet li a:hover {
  background: #00a171;
  color:#fff;
}
.our_dealers_n .alphabet li.no a {
  color:#b1a291;
}
.our_dealers_n .alphabet li.no a:hover {
  opacity: .5;
  background: none;
}
.our_dealers_n .city_block .city_name {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #b1a291;
}
.our_dealers_n .city_block .dealer_item {
  border-top: 1px solid #e0e0e0;
  padding: 15px 0 0 0 ;
  overflow: hidden;
  letter-spacing: .5px;
  font-size: 16px;
  color: #6c6c6c;
}
.our_dealers_n .city_block .dealer_name,
.our_dealers_n .city_block .address {
  float: left;
}
.our_dealers_n .city_block .contacts_b {
  float: right;
  text-align:right;
}
.our_dealers_n .city_block .contacts_b .phone a {
  color: inherit;
  text-decoration: none;
}
.our_dealers_n .city_block .contacts_b .item {
  margin-bottom: 5px;
}
.our_dealers_n .city_block .contacts_b {
  width: 245px;
}
.our_dealers_n .city_block .dealer_name{
  width: 290px;
  padding-right: 20px;
}
.our_dealers_n .city_block .address {
  width: 410px;
}
.our_dealers_n .city_block .address .a_item {
  margin-top: 20px;
}
.our_dealers_n .city_block .address .a_item:first-child {
  margin-top: 0;
}
.our_dealers_n .city_block .address .yamap {
  font-size: 14px;
  margin-top:3px;
  padding-left: 27px;
}
.our_dealers_n .city_block .address .spot {
  position: relative;
  padding-left: 20px;
}
.our_dealers_n .city_block .address .spot:before {
  content: '';
  display: block;
  width: 14px;
  height: 25px;
  background: url('../images/geo_tag.png') no-repeat;
  background-size: 100%;
  position: absolute;
  margin-left: -20px;
}

#scroll_reseller {
    padding: 40px 0 35px;
    margin-bottom: 35px;
    border-top: 5px solid #cecece;
  margin-top:-1px;
}
#scroll_reseller .block-title {
  text-align: center;
  margin-bottom: 45px;
}
#scroll_reseller li{
  float: left;
  /* width: 33.33%;
  text-align: center; */
  position: relative;
}
#scroll_reseller li:before{
  content: '';
  width: 1px;
  display: block;
  height: 100%;
  position: absolute;
  border-right: 1px solid #c0c0c0;
  display: none;
}
#scroll_reseller li:first-child:before{
  display: none;
}
#scroll_reseller li .title{
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
#scroll_reseller li .res_adr{
  margin-bottom: 10px;
  height: 20px;
  font-size: 16px;
}
#scroll_reseller.our_dealers_n .city_block {
  margin-bottom:25px;
  overflow: hidden;
}
.contacts-map-container {
  position: relative;
}
.contact-block-map {
  position: absolute;
  top: 10%;
  background-color: #0000009c;
  padding: 20px;
  left: 50px;
  color: #fff;
  max-width: 30%;
}
.contact-block-map a {
  color: #fff;
}
.contact-block-map .title {
  color: #f49400;
  font-weight: 600;
  font-size: 24px;
}
.contact-block-map .layout > div {
  margin: 0 0 20px 0;
}
.contact-block-map .layout  .address1 {
  margin: 0 0 20px 0;
}
.contact-block-map .layout .greenf {
  font-weight: 500;
  text-decoration: underline;
}

.napolnitely-page {}
.napolnitely-page .wp-block-media-text__media img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.napolnitely-page .wp-block-media-text__content {
}
.napolnitely-page p {
	margin: 0 0 10px 0;
}
.napolnitely-page
.napolnitely-page
.napolnitely-page