.header {
  max-width: 1920px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header.header_fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fffc;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__logo {
  width: 25%;
}

.header .header__logo img {
  max-width: 320px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header .header__nav {
  width: 45%;
}

.header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__nav ul li a {
  color: #005447;
  font-size: 18px;
  position: relative;
}

.header .header__nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
  left: 0;
  background-color: #005447;
}

.header .header__nav ul li a:hover:before {
  content: '';
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__phone {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__phone a {
  font-size: 22px;
  color: #005447;
  font-weight: 600;
}
