.index__slider .swiper-container {
  overflow: hidden;
  position: relative;
}

.index__slider .swiper-container .swiper-slide {
  width: 100% !important;
}

.index__slider .swiper-container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.index__slider .swiper-container .swiper-slide .link__more {
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.index__slider .swiper-container .swiper-pagination {
  background-color: #3838388f;
  padding: 10px 0;
  position: absolute;
  bottom: 4px;
  width: 100%;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: orange !important;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 13px;
  height: 13px;
  margin: 0 15px 0 0;
  opacity: 1;
}

.index__adv {
  background-image: url(/assets/img/adv_bg.png);
  background-position-x: center;
  background-repeat: no-repeat;
  padding: 50px 0 0px 0;
  margin: 0 auto;
  background-size: contain;
  height: 843px;
}

.index__adv .index__adv_text {
  font-size: 26px;
  font-weight: 600;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 110px 0 0 0;
}

.index__adv .index__adv_text .green {
  color: #005447;
  font-size: 28px;
}

.index__adv .index__adv_text .orange {
  font-size: 28px;
  color: #f39000;
}

.index__adv .index__adv_text p {
  display: block;
  line-height: 1.5;
}

.index__adv .index__adv_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 30px;
}

.index__adv .index__adv_list .index__adv_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 40px 0;
}

.index__adv .index__adv_list .index__adv_item img {
  height: 90px;
  -o-object-fit: contain;
  object-fit: contain;
  max-width: 100px;
}

.index__adv .index__adv_list .index__adv_item span {
  display: block;
  margin: 20px 0 0 0;
  line-height: 1.3;
}

.category__blocks .category__blocks_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.category__blocks .category__blocks_list .category__blocks_item {
  width: 32%;
  color: #fff;
  border: 1px solid #005447;
  position: relative;
  height: 445px;
  cursor: pointer;
  overflow: hidden;
}

.category__blocks .category__blocks_list .category__blocks_item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  border: 1px solid #005447;
}

.category__blocks .category__blocks_list .category__blocks_item .title {
  position: absolute;
  font-size: 52px;
  top: 45%;
  left: 0%;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category__blocks .category__blocks_list .category__blocks_item .more {
  opacity: 0;
  position: absolute;
  bottom: 10%;
  left: 20%;
  font-size: 30px;
}

.category__blocks .category__blocks_list .category__blocks_item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-box-shadow: 4px 4px 10px -2px #005447;
          box-shadow: 4px 4px 10px -2px #005447;
}

.category__blocks .category__blocks_list .category__blocks_item:hover .more {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  left: 0;
  text-align: center;
}

.category__blocks .category__blocks_list .sub__category {
  width: 100%;
}

.category__blocks .category__blocks_list .sub__category .items__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f1f1f1;
  margin: 30px 0 0 0;
  padding: 30px 30px;
  border-radius: 10px;
}

.category__blocks .category__blocks_list .sub__category .items__list .item {
  width: 23%;
  height: 120px;
  position: relative;
  background-position: bottom right;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 9px 6px 15px -7px #3333338c;
          box-shadow: 9px 6px 15px -7px #3333338c;
  margin: 0 20px 30px 0;
}

.category__blocks .category__blocks_list .sub__category .items__list .item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  cursor: pointer;
}

.category__blocks .category__blocks_list .sub__category .items__list .item:hover .title {
  background-color: #3333338c;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category__blocks .category__blocks_list .sub__category .items__list .item a {
  height: 100%;
  width: 100%;
  display: block;
}

.category__blocks .category__blocks_list .sub__category .items__list .item a .title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #ffffff9c;
  padding: 20px;
  font-size: 20px;
  color: #000;
}

.category__blocks .category__blocks_list .sub__category .items__list .item.bl {
  background-image: url(/assets/img/category/bolonnel.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.er {
  background-image: url(/assets/img/category/er.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.lt {
  background-image: url(/assets/img/category/lt.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.lo {
  background-image: url(/assets/img/category/lo.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.fo {
  background-image: url(/assets/img/category/fo.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.ts {
  background-image: url(/assets/img/category/ts.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.ch {
  background-image: url(/assets/img/category/dt.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.kr {
  background-image: url(/assets/img/category/kr.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.pd {
  background-image: url(/assets/img/category/pd.png);
}

.category__blocks .category__blocks_list .sub__category .items__list .item.nm {
  background-image: url(/assets/img/category/nm.png);
}

.index__materials {
  background-image: url(/assets/img/material-bg.jpg);
  background-position-x: 0;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin: 50px 0 0 0;
}

.index__materials .index__title {
  margin: 270px 0 0 0;
}

.index__materials .desc {
  font-size: 30px;
  margin: 30px 0 0 0;
}

.index__materials .index__materials_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 0 70px 0;
}

.index__materials .index__materials_list .index__materials_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 0;
  position: relative;
}

.index__materials .index__materials_list .index__materials_item:hover img {
  background-color: #005447;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.index__materials .index__materials_list .index__materials_item.sticker:after {
  content: '';
  width: 105px;
  height: 105px;
  background-image: url(/assets/img/icons/material-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
  right: -10px;
  top: -50px;
  display: inline-block;
  position: absolute;
}

.index__materials .index__materials_list .index__materials_item img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  border-radius: 50%;
  padding: 7px;
  border: 1px solid #005447;
}

.index__materials .index__materials_list .index__materials_item .title {
  font-size: 18px;
  margin: 15px 0 0 0;
}

.index__materials .index__materials_list .index__materials_link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index__materials .index__materials_list .index__materials_link a {
  font-size: 22px;
  text-align: center;
  color: #005447;
}

.index__materials .index__materials_list .index__materials_link a:hover {
  text-decoration: underline;
}

.index__materials .index__materials_list .index__materials_link:after {
  content: '';
  width: 35px;
  height: 35px;
  background-image: url(/assets/img/icons/arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  margin: 0 0 0 20px;
}

.index__cooperation .index__cooperation_image img {
  width: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

.index__cooperation .index__cooperation_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index__cooperation .index__cooperation_form .text {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.3;
}

.index__cooperation .index__cooperation_form .pop_write_us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__cooperation .index__cooperation_form .pop_write_us > div {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  border: 2px solid transparent;
  -o-border-image: linear-gradient(#f29300, #03554d);
     border-image: -webkit-gradient(linear, left top, left bottom, from(#f29300), to(#03554d));
     border-image: linear-gradient(#f29300, #03554d);
  -webkit-border-image: -webkit-linear-gradient(#f29300, #03554d);
  border-image-slice: 1;
  display: inline-block;
  padding: 15px 55px;
}

.index__cooperation .index__cooperation_desc {
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.3;
}

.index__cooperation .index__cooperation_partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index__cooperation .index__cooperation_partners img {
  height: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
