@charset "UTF-8";
/* clear styles */
@font-face {
  font-family: 'Plumb';
  src: url('../fonts/PLUMB-MEDIUM.eot');
  src: local('☺'), url('../fonts/PLUMB-MEDIUM.woff') format('woff'), url('../fonts/PLUMB-MEDIUM.ttf') format('truetype'), url('../fonts/PLUMB-MEDIUM.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Plumb';
  src: url('../fonts/PLUMBLIGHTC.eot');
  src: local('☺'), url('../fonts/PLUMBLIGHTC.woff') format('woff'), url('../fonts/PLUMBLIGHTC.ttf') format('truetype'), url('../fonts/PLUMBLIGHTC.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: 'Plumb', 'Montserrat', Arial!important;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /*font-family: 'Montserrat', Arial, sans-serif;*/
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
.col-full {
  position: relative;
}
body {
  line-height: 1;
  overflow-x: hidden;
  color: #000!important;
  position: relative;
}
::-webkit-scrollbar {
  width: 0;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:active, a:focus {
  outline: none!important;
}

input, textarea {
  outline: none;
}

input:active, textarea:active {
  outline: none;
}

:focus {
  outline: noneimportant;
}
.row > * {
  padding: 0 0;
}

.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

.col-full {max-width: 100%!important; padding: 0!important;}
.woocommerce-products-header,
ul.products.columns-4,
ul.products.columns-5,
ul.products.columns-3,
ul.products.columns-6,
#page .storefront-breadcrumb,
.product.type-product,
.classic-page
 {
	padding: 0 40px!important;
}

/*clear styles finish*/


.site-main {
    margin-bottom: 0!important;
}
ul.woocommerce-error {
    display: none;
}
.g-hidden {display: none;}
div#primary {
    margin-bottom: 0!important;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1420px;
  }
}

.index__title {
  font-size: 36px;
  color: #005447;
  margin: 30px 0 30px 0;
}

.display-none {
  display: none;
}

.header {
  max-width: 1920px;
  height: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header > div:not(.mobile__nav) {
	height: 49px;
}

.header.header_fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #fffc;
  padding: 10px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .header__logo {
  width: 25%;
  display: flex;
  justify-content: flex-end;
}
.header .header__logo a {
  display:  block;
  width:  100%;
}
.header .header__logo img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height:  100%;
  padding: 0 20px 0 0;
}

.header .header__nav {
  width: 50%;
  background-color: #05564E;
  padding: 10px 20px;
}

.header .header__nav nav ul {
	margin: 0 0;
}

.header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header .header__nav ul li {
	list-style-type: none;
	position: relative;
  margin: 0 30px 0 0;
}

.header .header__nav ul li a {
  color: #fff;
  font-size: 18px;
  position: relative;
}

.header .header__nav ul li a:before {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  bottom: 0;
  left: 0;
  background-color: #f49400;
}

.header .header__nav ul li a:hover:before {
  content: '';
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__phone .site-search {
	margin: 0 0;
	display: flex;
	align-items: center;
  width: 100%;
}
.site-search .widget.woocommerce.widget_product_search {
	margin: 0 10px 0 0;
  width: 100%;
}
.site-search .widget.woocommerce.widget_product_search .search-field {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 10px 10px 10px 10px;
  border-radius: 10px;
  color: #fff;
}
.site-search .widget.woocommerce.widget_product_search .search-field::placeholder {
  color: #fff;
  font-size: 14px;
}
.header__phone .site-search .widget_product_search form::before {
	top: 14px;
  color: #fff;
  position: absolute;
  right: 15px;
  left: initial;
}

.header .header__phone {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #05564E;
  padding: 5px 20px;
}

.header .header__phone a {
  font-size: 22px;
  color: #005447;
  font-weight: 600;
  display: none;
}

.footer {
  background-color: #3c3c3b;
  margin: 60px 0 0px 0;
  padding: 50px 0;
  color: #fff;
  position: relative;
  background-image: url(../../assets/img/other/footer_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: 600;
}
.footer::before {
	content: '';
	display: inline-block;
	position: absolute;
	left: -254px;
	top: -200px;
	background-image: url(../../assets/img/other/leaf_right1.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 240px;
	width: 382px;
	z-index: -1;
	transform: scaleX(-1);
}
.footer::after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 2%;
    top: -176px;
    background-image: url(../../assets/img/other/leaf_left1.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 225px;
    width: 139px;
    z-index: -1;
    transform: rotate(270deg)scaley(-1);
}

.footer a {
  color: #fff;
}

.footer .footer__column .title {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 15px 0;
  color: #fff;
}

.footer .footer__column .links {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer__column .links a {
  margin: 0 0 5px 0;
  font-weight: 500;
}

.footer .footer__column.contacts > div:not(.title) {
  margin: 0 0 10px 0;
  font-weight: 500;
}

.index__slider .swiper-container {
  overflow: hidden;
  position: relative;
}


.index-page > section {
  z-index: 2;
  position: relative;
}

.index__slider .swiper-container .swiper-slide {
  width: 100% !important;
}

.index__slider .swiper-container .swiper-slide img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.index__slider .swiper-container .swiper-slide .link__more {
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.index__slider .swiper-container .swiper-pagination {
  background-color: #3838388f;
  padding: 10px 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  background-color: orange !important;
}

.index__slider .swiper-container .swiper-pagination .swiper-pagination-bullet {
  background-color: #fff;
  width: 13px;
  height: 13px;
  margin: 0 15px 0 0;
  opacity: 1;
}
.n2-ss-slider .n2-ss-slider-controls-below {
	display: none!important;
}

.index__adv {
  margin: 50px 0;
}

.index__adv .index__adv_text {
  padding: 0px 85px;
  font-size: 22px;
  text-align: justify;
  word-spacing: -2px;
}
.index__adv .index__adv_text p {
  margin: 0 0;
}
.index__adv .index__adv_text br {display: none;}

.index__adv .index__adv_text .green {
  color: #334D47;    
  font-size: 32px;
  position: relative;
  top: 5px;
  font-weight: 500;
}

.index__adv .index__adv_text .orange {
  color: #e98905;    
  font-size: 32px;
  position: relative;
  top: 5px;
  font-weight: 500;
}


.index__adv .index__adv_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index__adv .index__adv_list .index__adv_item {
  display: flex;
  width: 47%;
  align-items: center;
  position: relative;
}
.index__adv .index__adv_list .index__adv_item:before {
  content: '';
  width: 100px;
  height: 100px;
  position: absolute;
  left: -7px;
  right: 0;
  top: initial;
  box-shadow: 0px 5px 12px 0 #00000078;
  border-radius: 50%;
}
.index__adv .index__adv_list .index__adv_item:nth-child(-n+2) {
  margin: 0 0 60px 0;
}

.index__adv .index__adv_list .index__adv_item img {
	height: 65px;
	min-width: 85px;
	object-fit: contain;
	max-width: 85px;
}
.index__adv .index__adv_list .index__adv_item span {
  margin: 0 0 0 30px;
  font-size: 20px;
  line-height: 25px;
  color: #585652;
}

.index__category {
  margin: 90px 0;
}
.index__category .index__category_container {
  display: flex;
  justify-content: center;
}
.index__category .index__category_item {
  display: flex;
  align-items: center;
  margin: 0 75px 0 0;
  width: initial;
  text-transform: uppercase;
}
.index__category .index__category_item:hover img {
  transform: scale(1.03);
  transition: 0.3s;
}
.index__category .index__category_item:last-child {
  margin: 0 0;
}
.index__category .index__category_item img {
  width: 110px;
  object-fit: contain;
  height: 90px;
}
.index__category .index__category_item .title {
  color: #585652;
  font-weight: 500;
  line-height: initial;
  font-size: 26px;
  margin: 0 0 0 15px;
}



.index__slider_gallery {
  padding: 0 0px;
  position: relative;
  width: 100%;
  z-index: 1!important;
}
.index__slider_gallery .item:not(:nth-child(n+3)) {
  padding: 0 15px 0 0;
}
.index__slider_gallery .item.mobile {
	width: 85%;
	margin: 0 auto;
}
article.leaf {
  width: 100%;
  position: relative;
}
article.leaf {
  position: relative;
  z-index: 1;
}
.index__slider_gallery:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -155px;
  bottom: -230px;
  background-image: url(../../assets/img/other/leaf_left1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 720px;
  width: 424px;
  z-index: -1;
  transform: rotate(337deg);
}
.index__slider_gallery:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 225px;
  right: -155px;
  background-image: url(../../assets/img/other/leaf_right1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 776px;
  width: 457px;
  z-index: -1;
  transform: rotate(0deg)scaley(-1);
}

section.category__blocks {
    position: relative;
}
.index__materials {
  margin: 70px 0;
}
.index_title {
  font-size: 28px;
  font-weight: 500;
  margin: 0 0 15px 0;
  display: block;
  text-align: center;
  text-transform: uppercase
}
.index__materials .index__materials_subtitle {
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  color: #585652;
}
.index__materials .index__materials-container {
  display: flex;
  align-items: flex-start;
  margin: 70px 0 0 0;
  justify-content: center;
}
.index__materials .item {
  color: #585652;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 40px 0 0 ;
}
.index__materials .item:hover .img {
  transform: scale(1.05);
  transition: 0.3s;
  background-color: #e98905;
}
.index__materials .item .img {
  width: 160px;
  height: 160px;
  border: 1px dashed #e98905;
  border-radius: 50%;
  position: relative;
  transition: 0.3s;
}
.index__materials .item .img.about {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.index__materials .item .img.about:hover span {
  color: #fff;
  transition: 0.3s;
}
.index__materials .item .img.about span {
  margin: 0 0;
  transition: 0.3s;
  padding: 0 10px;
}
.index__materials .item .img::after{
  content: '';
  background-image: url(../../assets/img/icons/index_arrow.svg);
  width: 20px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  left: 44%;
}
.index__materials .item .img::before{
  content: '';
  background-image: url(../../assets/img/icons/index_shadow.svg);
  width: 100%;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -25px;
  left: 0;
  background-position: center;
}
.index__materials .item .img  img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
}
.index__materials .item span {
  margin: 40px 0 0 0;
  line-height: initial;
  font-size: 20px;
}
.index_works_adv .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  margin: 30px 0 0 0;
}
.index_works_adv .item img {
  height: 65px;
  width: 90px;
  object-fit: contain;
  position: relative;
}
.index_works_adv .item .item_img {
  padding: 25px 13px;
  border: 2px solid #8C9193;
  border-radius: 50%;
  position: relative;
}
.index_works_adv .item .item_img::before{
  content: '';
  background-image: url(../../assets/img/icons/index_shadow.svg);
  width: 100%;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  bottom: -18px;
  left: 0;
  background-position: center;
}
.index_works_adv .item .title {
  font-weight: 600;
  font-size: 26px;
  margin: 20px 0 15px 0;
  text-align: center;
}
.index_works_adv .item .desc {
  font-size: 18px;
  line-height: initial;
  text-align: justify;
  word-spacing: -2px;
}
.footer__adv  {
  margin: 40px 0 0 0;
  display: block;
  position: relative;
}
.footer__adv .row {
  display: flex;
  justify-content: center;
}
.footer__adv .item {
  display: flex;
  flex-direction: column;
  width: initial;
  align-items: center;
  text-align: center;
  line-height: initial;
}
.footer__adv .item:not(:last-child) {
  margin: 0 80px 0 0;
}
.footer__adv .item img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}
.footer__adv .item .title {
  font-size: 22px;
  color: #585652;
  font-weight: 400;
  margin: 10px 0 0 0 ;
}
.footer_leaf {
  position: relative;
  width: 100%;
  display: inline-block;
}



.arcticmodal-container_i2 {
  background-color: transparent!important;
}
#callback-partners {margin: 0 auto; padding: 20px;}

#callback-partners p {font-size: 14px; margin: 0 0 10px ;}
#callback-partners label {display: flex; flex-direction: column;}
#callback-partners input,
#callback-partners textarea {
  border: 1px solid #333; 
  padding: 10px 0 10px 30px;
  width: 100%;
  background-color: #fff;
}
#callback-partners input:focus,
#callback-partners textarea:focus {
  border: 2px solid #000;
  outline: none;
} 
#callback-partners input[type=submit] {
  font-size: 20px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0;
}
#callback-partners input[type=submit]:hover {
  background-color: #f39000;
  color: #fff;
  transform: scale(1.03);
  transition: 0.3s;
}
.wpcf7-response-output {
    margin: 0 0!important;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 10px!important;
}

/*category*/
.storefront-breadcrumb {
	margin: 10px 0 30px 0!important;
	padding: 0 0 0px 0!important;
  position: relative;
}
li.product-category.product {
	box-shadow: 4px 4px 20px -5px #00000094;
}
li.product-category.product img {
	margin: 0 0!important;
}
li.product-category.product:hover {
	transition: 0.3s;
	transform: scale(1.03);
}
.woocommerce-loop-category__title {
    width: 100%;
    text-align: center;
    margin: 0 0!important;
    padding: 20px 10px;
    font-size: 22px!important;
    color: #05564e;
    line-height: 1;
    font-weight: 500!important;
}
li.product-category.product:hover .woocommerce-loop-category__title {
  background-color: #e0e0e09c;
}
.woocommerce-loop-category__title mark.count {
	font-size: 14px;
  display: none;
}
.site-main > .storefront-sorting:nth-child(2) {display: none!important;}
.product.type-product .price {display: none!important;}
.storefront-sorting .woocommerce-ordering {display: none!important;}
.storefront-sorting {display: flex; justify-content: center;}
.storefront-sorting .woocommerce-pagination {margin: 0 0 0 50px;}
.term-description {
    color: #000;
    font-size: 16px;
    margin: 0 0 40px 0;
}
#buyoneclick_form_order .form-message-result {
  font-size: 20px!important;
  color: #005447!important;
}
nav.storefront-product-pagination {
  display: none!important;
}
.woocommerce-product-gallery .product.type-product img {
  margin: 0 auto!important;
}
.product.type-product .woocommerce-loop-product__title {
  font-weight: 600!important;
  margin: 15px 0 15px 0!important;
}
.product.type-product .single_add_to_cart_button{
  padding: 6px 0;
  font-size: 18px;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  font-weight: initial;
}
.product.type-product .product_type_simple {
  margin: 10px 0 0 0;
  width: 100%;
  background-color: #f49400;
  color: #fff;
  font-size: 16px;
  padding: 5px 0;
}
.product.type-product .product_type_simple:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}
li.product.type-product:hover {
  transition: 0.3s;
  transform: scale(1.03);
}
.category__product_attr {
  display: flex;
  justify-content: space-between;
  color: #05564E;
  font-size: 19px;
  align-items: flex-start;
  line-height: initial;
  margin: 0 0 4px 0;
}
.category__product_attr > span:last-child {
  text-align: right;
  line-height: initial;
}
ul.products li.product.product-category img {
  width: 100%!important;
}
ul.products  li.product.type-product {
    padding: 0 0!important;
}
#main ul.products li.product.type-product.status-publish {
  width: 20%!important;
  margin: 0 0;
  padding: 0px 20px 10px 20px!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products .product.type-product .woocommerce-loop-product__title {
  color: #05564E;
  font-size: 23px;
  margin: 0 0 10px 0!important;
  font-weight: 500!important;
}
#main ul.products li.product.type-product.status-publish > a.product_type_simple {
  display: none;
}
ul.products.columns-5 {
    display: flex;
    flex-wrap: wrap;
}
.catalog__width {
  width: 100%;
  font-size: 0;
  color: #333;
  font-weight: 600;
}
#main ul.products li.product-category.product {
    width: 23%!important;
    margin: 0 0 30px 2.6%!important;
    background-color: #ffffffa8;
    padding: 10px 0 0 0;
}
#main ul.products li.product-category.product a {
    display: flex;
    flex-wrap: wrap;
}
#main ul.products li.product-category.product img {
  height: 150px;
  object-fit: contain;
  width: 100%!important;
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto!important;
  padding: 10px 0 0 0;
}
li.product.type-product.status-publish.instock > a > img {
    height: 180px;
    object-fit: contain;
    margin: 0 0;
}
.pswp--open {
  z-index: 400;
}
header.woocommerce-products-header {
  margin: 0 0 0 70px;
}
.storefront-breadcrumb {
  margin: 10px 0 15px 70px!important;
}
header.woocommerce-products-header h1 {
  color: #05564e;
  font-weight: 500;
}
.storefront-breadcrumb:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: -160px;
  top: -10px;
  background-image: url(../../assets/img/other/leaf_left1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 390px;
  width: 260px;
  z-index: -1;
  transform: rotate(337deg);
}
.storefront-breadcrumb:after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -35px;
  right: -255px;
  background-image: url(../../assets/img/other/leaf_right1.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 490px;
  width: 531px;
  z-index: -1;
  transform: rotate(0deg)scaley(-1);
}
.catalog__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  background-color: #ffffffa8;
  box-shadow: 0 0 20px 4px #0000004f;
}
.storefront-sorting {
  margin: 30px 0 0 0;
}
/*category*/

/*Product page*/
.single-product .product {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-product .product .product-left #wpgs-gallery.woocommerce-product-gallery {
  margin-bottom: 0px;
}
.single-product .product .product-left {
  width: 45%;
  margin-right: 2%;
}
.single-product .product .product-left .wcgs-carousel {
  background-color: #ffffffa8;
  box-shadow: 0px 0px 12px 4px #0000004f;
  padding: 20px;
  margin: 30px 0 0 0;
}
.single-product .product .product-left .wcgs-carousel .wcgs-lightbox {
  display: none;
}
.single-product .product .product-left .gallery-navigation-carousel {
  margin: 35px 0 0 0!important;
}
.single-product .product .product-left .slick-arrow::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    margin-right: 56px;
    position: absolute;
    display: block;
    right: 0;
    left: 5px;
    transform: rotate(45deg);
}
.single-product .product .product-left .slick-nav-prev::before {
    transform: rotate(228deg);
    left: 9px;
}
.single-product .product .product-left .wcgs-thumb img {
  border:  none!important;
}
.single-product .product .summary {
  width: 50%!important;
}
.single-product .product .related.products {
  width: 100%;
}
.single-product .product .storefront-product-pagination {
  width: 100%;
}
.right-sidebar .content-area {
	width: 100%!important;
}
.woocommerce-product-details__short-description {
    color: #000;
}
.woocommerce-product-details__short-description li {
  list-style-type: none;
  position: relative;
}
.woocommerce-product-details__short-description li:before {
  content: '';
  width: 5px;
  height: 5px;
  background-color: #005447;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -13px;
}
.card__desc {
    color: #000;
    font-size: 14px;
}
.card__desc_list li {
  list-style-type: none;
  position: relative;
}
.card__desc_list li:before {
  content: '';
  width: 6px;
  height: 6px;
  background-color: #05564e;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -13px;
}
.card__desc .card__desc_adv {
	display: flex;
	justify-content: space-between;
}
.card__desc .card__desc_adv .item {
	display: flex;
	flex-direction: column;
	width: 30%;
	align-items: center;
   text-align: center;
}
.card__desc .card__desc_adv.el4 .item {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
   text-align: center;
}
.card__desc .card__desc_adv .item .bg-img {
	width: 50px;height: 50px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.card__desc .card__desc_adv .item .title {
	color: #000;
}


.card__desc > .title {
    font-weight: 500;
    font-size: 26px!important;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}

.card__desc_add {
  padding: 30px 0 0 0;
}
.card__desc_add .item {
	display: flex;
	align-items: center;
  margin: 0 0 30px 0;
}
.card__desc_add .item .bg-img {
  width: 90px;
  height: 60px;
  min-width: 90px;
  min-height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card__desc .card__desc_add .item .bg-img.a{background-image: url(../../assets/img/icons-card/a.svg);}
.card__desc .card__desc_add .item .bg-img.b{background-image: url(../../assets/img/icons-card/b.svg);}
.card__desc .card__desc_add .item .bg-img.c{background-image: url(../../assets/img/icons-card/c.svg);}
.card__desc .card__desc_add .item .bg-img.c2{background-image: url(../../assets/img/icons-card/c2.svg);}
.card__desc .card__desc_add .item .bg-img.d{background-image: url(../../assets/img/icons-card/d.svg);}
.card__desc .card__desc_add .item .bg-img.d2{background-image: url(../../assets/img/icons-card/d2.svg);}
.card__desc .card__desc_add .item .bg-img.d3{background-image: url(../../assets/img/icons-card/d3.png);}
.card__desc .card__desc_add .item .bg-img.d4{background-image: url(../../assets/img/icons-card/d4.png);}
.card__desc .card__desc_add .item .bg-img.e{background-image: url(../../assets/img/icons-card/e.svg);}
.card__desc .card__desc_add .item .bg-img.e2{background-image: url(../../assets/img/icons-card/e2.svg);}
.card__desc .card__desc_add .item .bg-img.e3{background-image: url(../../assets/img/icons-card/e3.svg);}
.card__desc .card__desc_add .item .bg-img.e4{background-image: url(../../assets/img/icons-card/e4.svg);}
.card__desc .card__desc_add .item .bg-img.e5{background-image: url(../../assets/img/icons-card/e5.png);}
.card__desc .card__desc_add .item .bg-img.f{background-image: url(../../assets/img/icons-card/f.svg);}
.card__desc .card__desc_add .item .bg-img.g{background-image: url(../../assets/img/icons-card/g.svg);}
.card__desc .card__desc_add .item .bg-img.g2{background-image: url(../../assets/img/icons-card/g2.svg);}
.card__desc .card__desc_add .item .bg-img.g3{background-image: url(../../assets/img/icons-card/g3.svg);}
.card__desc .card__desc_add .item .bg-img.i{background-image: url(../../assets/img/icons-card/i.svg);}
.card__desc .card__desc_add .item .bg-img.j{background-image: url(../../assets/img/icons-card/j.svg);}
.card__desc .card__desc_add .item .bg-img.j2{background-image: url(../../assets/img/icons-card/j2.svg);}
.card__desc .card__desc_add .item .bg-img.k{background-image: url(../../assets/img/icons-card/k.png);}
.card__desc .card__desc_add .item .bg-img.hz{background-image: url(../../assets/img/icons-card/hz.svg);}
.card__desc .card__desc_add .item .bg-img.p1{background-image: url(../../assets/img/icons-card/p1.svg);}
.card__desc .card__desc_add .item .bg-img.p2{background-image: url(../../assets/img/icons-card/p2.svg);}
.card__desc .card__desc_add .item .bg-img.p3{background-image: url(../../assets/img/icons-card/p3.svg);}
.card__desc .card__desc_add .item .bg-img.p4{background-image: url(../../assets/img/icons-card/p4.svg);}
.card__desc .card__desc_add .item .bg-img.p5{background-image: url(../../assets/img/icons-card/p5.svg);}
.card__desc .card__desc_add .item .bg-img.p6{background-image: url(../../assets/img/icons-card/p6.svg);}
.card__desc .card__desc_add .item .bg-img.p7{background-image: url(../../assets/img/icons-card/p7.svg);}
.card__desc .card__desc_add .item .bg-img.p8{background-image: url(../../assets/img/icons-card/p8.svg);}
.card__desc .card__desc_add .item .bg-img.p9{background-image: url(../../assets/img/icons-card/p9.svg);}
.card__desc .card__desc_add .item .bg-img.p10{background-image: url(../../assets/img/icons-card/p10.svg);}
.card__desc .card__desc_add .item .bg-img.p11{background-image: url(../../assets/img/icons-card/p11.svg);}
.card__desc .card__desc_add .item .bg-img.p12{background-image: url(../../assets/img/icons-card/p12.svg);}



.card__desc_add .item .title {
	margin: 0 0 0 40px;
  line-height: initial;
}
.woocommerce-product-attributes .woocommerce-product-attributes-item__label {
	background-color: transparent;
	border: 1px solid #f8f8f8;
	display: flex;
	align-items: center;
	color: #000;
}
.woocommerce-product-attributes-item .woocommerce-product-attributes-item__label:before {
	content: '';
	background-repeat: no-repeat;
	background-size: contain;
	width: 55px;
	height: 55px;
	background-position: center;
	display: inline-block;
	margin: 0 10px 0 0 ;
}
.shop_attributes tr[class*="attribute_pa_mozhno-skrutit-v-rulon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/4.svg);
}
.shop_attributes tr[class*="attribute_pa_nagruzka"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/pow-card.png);
}
.shop_attributes tr[class*="attribute_pa_zhestkost-storon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/zhest-card.svg);
}
.shop_attributes tr[class*="attributes-item--attribute_pa_vysota"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/height-card.png);
}
.shop_attributes tr[class*="attribute_pa_skruchen-v-rulon"] > th[class*="item__label"]:before {
	background-image: url(../../assets/img/icons-card/4.svg);
}
.shop_attributes tr[class*="attribute_pa_razmer"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/size.svg);
}
.shop_attributes tr[class*="attribute_pa_zhestkost"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/zhestkost.png);
}
.shop_attributes tr[class*="attribute_pa_kreplenie"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/kreplenie.svg);
}
.shop_attributes tr[class*="attribute_pa_gipoallergennye-napolniteli"] > th[class*="item__label"]:before {
  background-image: url(../../assets/img/icons-card/gipoallergennye.svg);
}
.single_add_to_cart_button {
	width: 100%;
	padding: 21px;
	font-size: 22px;
  background-color: #005447!important;
}
.single_add_to_cart_button:hover {
  width: 100%;
  padding: 21px;
  font-size: 22px;
  background-color: #f49400!important;
}
#formOrderOneClick .popup .close_order {
  right: 10px!important;
  z-index: 20;
}
#formOrderOneClick thead tr th:nth-child(2),
#formOrderOneClick td[data-label=Цена]{display: none!important;}
#formOrderOneClick td[data-label=Картина] img {margin: 0 auto;}
.woocommerce-product-gallery .flex-control-nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
ol.flex-control-nav.flex-control-thumbs li {
    margin: 0 5% 15px 0!important;
    width: 15%!important;
}
.woocommerce-product-gallery.woocommerce-product-gallery--with-images.woocommerce-product-gallery--columns-4.images {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    padding: 25px 0 0 0;
    margin: 0!important;
    width: 100%;
}
.woocommerce-product-gallery #tab-additional_information {
  font-size: 22px;
  color: #000;
  margin: 30px 0 0 0;
  order: 10;
  font-weight: 600;
}
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__label {
  padding: 10px 7px;
  font-size: 24px;
  font-weight: initial;
  background-color: #f49400;
  color: #fff;
  text-transform: uppercase;
  justify-content: center;
}
 #tab-additional_information .shop_attributes {
  margin: 15px 0 0 0;
 }
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__label:before {
  padding: 10px 15px;
  width: 40px;
  height: 40px;
}
 #tab-additional_information .shop_attributes .woocommerce-product-attributes-item__value {
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  color: #005447;
}

.beds__desc {
  display: flex;
  margin: 0 0 30px 0;
}
.beds__desc .image {
  width: 45%;
  margin-right: 5%;
}
.beds__desc img {
  object-fit: contain;
  width: 100%;
}
.beds__desc .table {
  width: 50%;
  font-size: 14px;
  margin: 0 0;
}
.beds__desc .table th {
  background-color: #f49400;
  color: #fff;
  line-height: 1;
  text-align: center;
  padding: 10px 10px;
  font-size: 13px;	
}
.beds__desc .table td {
  padding: 10px 10px;
  text-align: center;
}
.woocommerce-product-gallery__wrapper > div > a img {
  width: 100%;
  object-fit: contain;
  max-height: 400px;
  overflow: hidden;
}
#tab-additional_information .shop_attributes tbody {
    display: flex;
    line-height: 1;
    text-align: center;
    flex-wrap: wrap;
}
#tab-additional_information tr.woocommerce-product-attributes-item {
    width: 33.3%;
    margin: 0 0 20px 0;
}
.product .entry-summary .single_add_to_cart_button{
  padding: 6px 0;
  font-size: 20px;
  margin: 30px 0 0 0;
}
.woocommerce-product-gallery .woocommerce-product-gallery__image {
    background-color: #ffffffa8;
    box-shadow: 0 0 20px 4px #0000004f;
}
.single-product div.product .woocommerce-product-gallery .flex-viewport {
  box-shadow: 0 0 20px 4px #0000004f;
}
.single-product div.product .woocommerce-product-gallery .flex-viewport .woocommerce-product-gallery__image {
  box-shadow: none;
}
.summary .woocommerce-product-details__short-description {
  background-color: #ffffffa8;
  box-shadow: 0 0 12px 4px #0000004f;
  padding: 30px;
  margin: 0 15px 0 3%;
}
.summary .woocommerce-product-details__short-description * {
  color: #05564e;
  font-size: 22px;
}
.single-product div.product .summary .product_title {
    margin: 15px 0 30px 2%;
    font-size: 60px;
}
.summary .woocommerce-product-details__short-description ul {
  margin: 0 0px 30px 25px;
}
.single-product .product-left .clickBuyButton {
  margin: 60px 0 0 0;
  text-transform: uppercase;
  font-size: 26px;
}
.single-product .product-left .wc-tabs {
  display: none;
}
.single-product .product-left #tab-additional_information {
    width: 100%;
    font-size: 0;
}
.single-product .product-left .woocommerce-tabs {
    padding: 10px 0 0 0;
}
.single-product div.product .product_meta {
  display: none;
}
/*Product page finish*/

section.related.products .product.type-product {
  width: 15%!important;
  margin: 0 30px 0 0!important;
  padding: 0 0!important;
}
.city_block {
    display: flex;
    flex-direction: column;
}
#scroll_dealers li {list-style-type: none;}
#scroll_partners {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 40px;
  background: #ededed;
  border-top: 1px solid #d1d0d0;
  margin-bottom: 0;
}
.contacts-map-container {
  position: relative;
  display: flex;
  flex: 1;
  box-shadow: 0 0 20px 4px #0000004f;
}
.contact-block-map {
  background-color: #ffffff9c;
  padding: 80px 50px;
  color: #000;
  width: 55%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}
.contact-block-map a {
  color: #000;
  text-decoration: none!important;
  text-transform: uppercase;
  font-weight: 500;
}
.contact-block-map a:hover {
  text-decoration: underline!important;
  transition: 0.3s;
  color: #05564E;
}
.contact-block-map > * {
  position: relative;
  display: flex;
  align-items: center;
}
.contact-block-map > *:before {
  content: '';
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 0 20px 0 0;
}
.contact-block-map .phone:before {background-image: url(../../assets/img/icons/phone-call.png);}
.contact-block-map .mail:before {background-image: url(../../assets/img/icons/email.png);}
.contact-block-map .address:before {background-image: url(../../assets/img/icons/location.png);}


.napolnitely-page .wp-block-media-text__media img {
	width: 250px;
	height: 250px;
	object-fit: cover;
}
.napolnitely-page .wp-block-media-text__content {
}
.napolnitely-page p {
	margin: 0 0 10px 0;
}
.entry-title {
  margin: 0 0 30px 30px;
  color: #05564e;
  font-weight: 500;
}
article.type-page.hentry {
  margin: 0 0 0px 0;
  padding: 0 40px;
}
/*sotrenichestvo-page*/
#sotrenichestvo-page > .vc_column-inner > .wpb_wrapper > * {
   box-shadow: 0 0 20px 4px #9d9d9d80;
}
#sotrenichestvo-page > .vc_column-inner > .wpb_wrapper > *:nth-child(odd) > *:last-child {
  padding: 0px 13% 0 12%;
}
#sotrenichestvo-page > .vc_column-inner > .wpb_wrapper > *:nth-child(even) > *:first-child {
  padding: 0px 12% 0 13%;
}
#sotrenichestvo-page .vc_column-inner {
  padding: 0 0;
}
#sotrenichestvo-page > .vc_column-inner > .wpb_wrapper h4  span strong {
  font-weight: 500;
}
/* napolnitely-page */
.napolnitely-page {
  margin: 0 0 60px 0;
  box-shadow: 0 0 20px 4px #9d9d9d80;
}
.napolnitely-page > .wpb_column > .vc_column-inner {
  padding-top: 0!important;
}
.napolnitely-page .title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0!important;
  margin-bottom: 30px;
}
.napolnitely-page .title * {
  padding: 0 0!important;
  margin: 0 0;
}
.napolnitely-page .title span {
  font-weight: 500;
  text-transform: uppercase;
}
.napolnitely-page h4 {
  font-size: 30px;
  margin: 0 0;
}
.napolnitely-page p {
  margin: 3px 0 15px 0!important;
}
.napolnitely-page ul {
  margin: 0 0 0 17px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 120px;
}
.napolnitely-page ul li::marker {
  color: #f49400;
}
.napolnitely-page .item {
  margin: 0 0 15px 0;
  font-size: 18px;
  cursor: default;
}
.napolnitely-page .item:hover {
  transition: 0.3s;
  transform: scale(1.03);
}
.napolnitely-page .item:hover > *:first-child:after {
  transition: 0.3s;
  border-left-color: #f49400;
}
.napolnitely-page .item > *:first-child {
  position: relative;
}
.napolnitely-page .item > *:first-child:after {
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 35px solid #1a4a42;
  position: absolute;
  right: 12%;
  top: 30%;
}
.napolnitely-page .item > *:last-child {
  padding: 0 10% 0 0;
}
.napolnitely-page .item .vc_column-inner {
  padding-top: 0!important;
}
/* proizvodstvo-page */
#proizvodstvo-page .sp-thumbnails-container {
  margin: 20px auto 0 auto;
  position: relative;
}
/* about company */
#about-company {
  box-shadow: 0 0 20px 4px #9d9d9d80;
}
#about-company p {
  font-size: 14px!important;
  text-align: justify;
}
#about-company .about-list .wpb_wrapper {
  display: flex;
  flex-wrap: wrap;
}
#about-company .about-list .item {
  width: 165px;
  height: 165px;
  background-color: #084c45;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 20px 20px 0;
  color: #fff;
  flex-direction: column;
  border-radius: 15px;
  line-height: initial;
}
#about-company .about-list .item .title {
  font-size: 55px;
  font-weight: 500;
}
#about-company .about-list .item .text {
  font-size: 18px;
}
#about-company .about-list .item text {
  font-size: 18px;
}
#about-history .shadow {
  box-shadow: 0 0 20px 4px #9d9d9d80;
}
#about-history .list .wpb_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#about-history .list .item {
  background-color: #ffffffd9;
  display: flex;
  flex-direction: column;
  width: 16%;
  border-radius: 15px;
  line-height: initial;
  justify-content: flex-start;
  align-items: center;
  padding: 45px 20px 20px 20px;
  text-align: center;
  height: 220px;
  transition: 0.3s;
}
#about-history .list .item:hover {
  cursor: pointer;
  background-color: #084c45;
  color: #fff!important;
  transition: 0.3s;
  transform: scale(1.03);
}
#about-history .list .item:hover * {
  color: #fff!important;
  transition: 0.3s;
}
#about-history .list .item .title {
  color: #084c45;
  font-weight: 500;
  font-size: 55px;
}
#about-history .list .item .text {
  color: #084c45;
  font-size: 18px;
  margin: 10px 0 0 0;
}
#about-mission {
  box-shadow: 0 0 20px 4px #9d9d9d80;
}
#about-mission .wpb_content_element {
  margin: 0 0;
}
#about-mission .vc_column-inner {
  padding: 0 0;
}
#about-mission .mission_about {
  position: relative;
}
#about-mission .mission_about p {
  margin: 45px 0;
}
#about-mission .mission_about ul {
  color: #084c45;
  font-size: 22px;
  padding: 0 25% 0 15%;
}
#about-mission .mission_about ul li {
  margin: 0px 0 20px 0;
}
#about-mission .img {
  z-index: 0;
}
#about-mission .mission_about .dop {
  position: absolute;
  background-color: #e98905;
  color: #fff;
  font-weight: 500;
  position: absolute;
  top: 30%;
  right: -10%;
  z-index: 1;
  width: 245px;
  border-radius: 100%;
  height: 245px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 14px;
}
#about-adv .item img {
  max-height: 120px;
  object-fit: contain;
}
#about-adv .item .aio-icon-default {
  background-color: #084c45;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
#about-adv .item:nth-child(2) .aio-icon-default {
  background-color: #e98905;
}
#about-adv .item:nth-child(2):hover .aio-icon-default {
  background-color: #084c45;
  transition: 0.3s;
}
#about-adv .item:nth-child(2) img {
  position: relative;
  left: 10px;
}
#about-adv .item .aio-icon-default * {
  margin: 0 auto!important;
}
#about-adv .item .aio-icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#about-adv .item .aio-icon-description {
  color: #084c45;
  font-size: 20px;
  margin: 15px 0 0 0;
  line-height: initial;
}
#about-adv .item:hover .aio-icon-default {
  transition: 0.3s;
  background-color: #e98905;
}
#about-adv .row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}
#about-adv .row > .item {
  width: 270px;
}
#filials .wpb_column .wpb_wrapper {
  height: 100%;
}
#filials .item {
  background-color: #ffffffa8;
  box-shadow: 0 0 20px 4px #0000004f;
  padding: 30px;
  line-height: initial;
  height: 100%;
}
#filials .item .title {
  font-size: 35px;
  text-transform: uppercase;
  margin: 0 0 20px 43px;
}
#filials .item * {
  font-size: 22px;
  margin: 0 0 15px 0;
}
#filials .item a {
  font-size: 22px;
  color: #000;
  text-decoration: none!important;
  margin: 0 0!important;
}
#filials .item .adress,
#filials .item .phone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#filials .item .adress:before,
#filials .item .phone:before {
  content: '';
  width: 25px;
  height: 25px;
  min-width: 25px;
  min-height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 0 20px 0 0;
}
#filials .item .adress:before {background-image: url(../../assets/img/icons/location.png);}
#filials .item .wpb_wrapper > .phone.icon:before {content: ''; background-image: url(../../assets/img/icons/phone.png);}

#scroll_dealers .alphabet {
  display: none;
}
#scroll_dealers .wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
#scroll_dealers .city_block {
  height: 100%;
  background-color: #ffffffa8;
  box-shadow: 0 0 20px 4px #0000004f;
  padding: 30px;
  line-height: initial;
}
#scroll_dealers .city_block ul {
  margin: 0 0 0 0;
}
#scroll_dealers .city_block * {
  font-size: 22px;
  color: #000;
  text-decoration: none!important;
}
#scroll_dealers .city_block .city_name {
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 20px 43px;
}
#scroll_dealers .city_block .dealer_item > * {
  margin: 0 0 10px 0;
}
#scroll_dealers .city_block .dealer_item .contacts_b > * {
  margin: 0 0 7px 0;
}
#scroll_dealers .city_block .dealer_name,
#scroll_dealers .city_block .address,
#scroll_dealers .city_block .phone,
#scroll_dealers .city_block .site,
#scroll_dealers .city_block .email {
  display: flex;
}

#scroll_dealers .city_block .dealer_name:before,
#scroll_dealers .city_block .address:before,
#scroll_dealers .city_block .phone:before,
#scroll_dealers .city_block .site:before,
#scroll_dealers .city_block .email:before {
  content: '';
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  margin: 0 20px 0 0;
  top: 3px;
  position: relative;
}
#scroll_dealers .city_block .address:before {background-image: url(../../assets/img/icons/location.png);}
#scroll_dealers .city_block .phone.icon:before {background-image: url(../../assets/img/icons/phone.png);}
#scroll_dealers .city_block .email.icon:before {background-image: url(../../assets/img/icons/mail.png);}
#scroll_dealers .city_block .dealer_name:before {background-image: url(../../assets/img/icons/user.png);}
#scroll_dealers .city_block .site:before {background-image: url(../../assets/img/icons/chrome.png);}






tr.woocommerce-product-attributes-item.woocommerce-product-attributes-item--attribute_pa_mozhno-skrutit-v-rulon {
    display: none;
}